nav {
  width: 93.5%;
  background-color: rgba(76, 168, 255, 0.812);
  box-shadow: 1px 1px 10px rgba(14, 94, 255, 0.386);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 9999;
}

nav .nav-left img {
  width: 120px;
}

nav .nav-center ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
nav .nav-center ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav .nav-center ul li a:hover {
  color: #1355c0;
}

nav .nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}
nav .nav-right button {
  padding: 13px 50px;
  border-radius: 30px;
  border: none;
  background: #1355c0;
  color: white;
  font-size: large;
}
nav .nav-right button:hover {
  background-color: #0b69ff;
  box-shadow: 2px 2px 20px #0b69ff;
}
nav .nav-right i {
  font-size: 24px;
  color: rgb(8, 8, 174);
}
nav .nav-right i:hover {
  color: white;
}

#active {
  color: #1355c0;
  border-bottom: 4px solid #1355c0;
  border-radius: 3px;
  padding: 0px 10px 27px 10px;
}

.home {
  position: relative;
  width: 84%;
  height: 92vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 8% 0;
  overflow: hidden;
  z-index: 0;
}

.home-container {
  max-width: 630px;
}

.home-container h1 {
  font-size: 50px;
  line-height: 1.2;
  animation: slideBottom 0.5s ease forwards;
  animation-delay: 1s;
}

.home-container h3 {
  font-size: 40px;
  color: #0d387c;
  animation: slideBottom 0.5s ease forwards;
  animation-delay: 1.3s;
}

.home-container p {
  font-size: 16px;
  margin: 15px 0 30px;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  color: rgb(65, 63, 63);
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 10px 28px;
  background: #0d387c;
  border: 2px solid #0d387c;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
}

.btn:hover {
  background: transparent;
  color: blue;
  border: 1 solid rgb(155, 178, 255);
  box-shadow: 1px 1px 20px rgb(39, 111, 255);
}

.home-img {
  position: relative;
  width: 430px;
  height: 450px;
  transform: rotate(45deg);
}

.home-img .rhombus {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, hsl(214, 100%, 78%), white);
  border: 25px solid #3c9ee8;
  right: -20%;
  box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.2);
}

.rhombus img {
  position: relative;
  bottom: -30px;
  left: -190px;
  max-width: 600px;
  transform: rotate(-45deg);
  opacity: 0;
  animation: car 0.5s ease forwards;
  animation-delay: 1s;
}

.rhombus2 {
  position: absolute;
  width: 650px;
  height: 700px;
  background: rgba(74, 169, 242, 0.7215686275);
  transform: rotate(45deg);
  z-index: 1;
  top: -25%;
  right: -25%;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
}

.home-container,
.home-img {
  position: relative;
  z-index: 2; /* on top of rhombus2 */
}

@keyframes car {
  0% {
    transform: translate(300px, -300px) scale(0) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(-45deg);
    opacity: 1;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .card-main .price {
  display: flex;
  align-items: center;
}

.main-card {
  display: flex;
  gap: 50px;
}

.main-card .card img {
  width: 200px;
  border-radius: 50%;
  border: 10px solid rgba(74, 169, 242, 0.7215686275);
}

.main-card .card {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(164, 164, 164, 0.471);
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  line-height: 1.5;
}
.main-card .card h3 {
  font-size: 30px;
}

button {
  padding: 10px 20px;
  background: linear-gradient(to left top, rgb(35, 255, 120), rgb(90, 195, 255));
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 30px;
}

button:hover {
  background: transparent;
  border: 2px solid rgba(74, 169, 242, 0.7215686275);
  color: rgb(6, 181, 204);
}

.menu {
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}
.menu .menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
  border: 1px solid gray;
  box-shadow: 1px 1px 4px rgba(163, 155, 155, 0.311);
}

footer {
  margin: 0px;
  background: #222;
  color: #ddd;
  padding: 40px 100px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.footer-container .footer-column img {
  width: 150px;
}

.footer-column h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #bbb;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
}

.home {
  background: linear-gradient(to top left, white, #78b3ff);
}/*# sourceMappingURL=home.css.map */