@import"./mixin";
@import"./variable";
@import"../components/components.home/navbar";
@import"../components/components.home/menu";
@import"../components/components.home/footer";
@import"../components/components.about/main";
@import"../components/special.com/button-card";
@import"../components/components.about/header";
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;

}
@media (max-width: 1023px) {
  

  .about .container .who {
    flex-direction: column;
    text-align: center;
  }

  .about .container .who img {
    width: 80%;
    margin: auto;
  }

  .features {
    align-items: center;
  }

  .team-members {
    gap: 15px;
  }
}

@media(max-width:767px){

  .container {
    .team-members{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
    // padding: 50px 20px;
  }

  .about .container .who img {
    width: 100%;
  }

  .features {
    flex-direction: column;
  }

  .feature img {
    width: 70px;
  }
  .team-members {
    flex-direction: column;
    align-items: center;
  }

  .member {
    width: 90%;
  }
}
