// header{
//     font-family: sans-serif;
//     height: 100vh;
//     background-image: url(../../image\ copy.png);    
//     background-repeat: no-repeat;
//     display: flex;
//     align-items: center;
//     padding: 0px 100px 0px 150px;
//     line-height: 1.3;
//     h1{
//         font-size: 70px;
//     }
// }

.home {
    position: relative;
    width: 84%;
    height: 92vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
    z-index: 0;
}

.home-container {
    max-width: 630px;
}

.home-container h1 {
    font-size: 50px;
    line-height: 1.2;
    animation: slideBottom .5s ease forwards;
    animation-delay: 1s;
}

.home-container h3 {
    font-size: 40px;
    color: #0d387c;
    animation: slideBottom .5s ease forwards;
    animation-delay: 1.3s;
}

.home-container p {
    font-size: 16px;
    margin: 15px 0 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    color: rgb(65, 63, 63);
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    background:  #0d387c;
    border: 2px solid  #0d387c;
    border-radius: 6px;
    // box-shadow: 1px 1px 20px rgb(122, 112, 166);
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 400;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: blue;
    border: 1 solid rgb(155, 178, 255);
    box-shadow: 1px 1px 20px rgb(39, 111, 255);
}

.home-img {
    position: relative;
    width: 430px;
    height: 450px;
    transform: rotate(45deg);

}

.home-img .rhombus {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
        // background:linear-gradient(to bottom right,hsl(161, 88%, 75%),white) ;
    border: 25px solid $main-color;
    right: -20%;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, .2);

}
 .rhombus img {
    position: relative;
    // top: -1px;
    bottom: -30px;
    left: -190px;
    max-width: 600px;
    transform: rotate(-45deg);
    opacity: 0;
    animation: car .5s ease forwards;
    animation-delay: 1s;
    
}

.rhombus2 {
    position: absolute;
    width: 650px;
    height: 700px;
    background:#063887;
    transform: rotate(45deg);
    z-index:1; 
    top: -25%;
    right: -25%;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);

}
.home-container,
.home-img {
    position: relative;
    z-index: 2; /* on top of rhombus2 */
}

@keyframes car {
    0% {
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;


    }

    100% {
        transform: translate(0, -0) scale(1) rotate(-45deg);
        opacity: 1;


    }
}
@media(max-width:1023px){
    .home {
    height: 86vh;
}

.home-container {
    max-width: 630px;
}

.home-container h1 {
    font-size: 30px;
}

.home-container h3 {
    font-size: 30px;
}

.home-img .rhombus {
    width: 150%;
    height: 50%;
    right: -20%;

}
 .rhombus img {
    bottom: -50px;
    left: -70px;
    width: 130%;
    
}

.rhombus2 {
    width: 500px;
}
}
@media(max-width:767px){
    .home {
    height: 60vh;
}

.home-container {
    max-width: 630px;
}

.home-container h1 {
    font-size: 30px;
}

.home-container h3 {
    font-size: 20px;
}

.home-img .rhombus {
    width: 70%;
    height: 40%;
    right: -20%;

}
 .rhombus img {
    bottom: -70px;
    left: -50px;
    width: 120%;
    
}

.rhombus2 {
    width: 300px;
    height: 300px;
}
.home-container p {
   display: none;
}
.btn {
    padding: 5px 10px;
    font-size: small;
    margin-top: 30px;
}

}