// .main{
//     height: 100vh;
//     background-color: $nav-color;
//     padding:0px 100px;
// }
.main{
    @include center;
    flex-direction: column;
    .card-main{
        .price{
            display: flex;
            align-items: center;
        }
    }

}