.main-2{
    .main-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        padding:0px 100px;
        height: 50vh;
        margin-bottom: 100px;
        .card1,.card2{
            line-height: 1.5;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
                    background: linear-gradient(to right,rgba(255, 255, 255, 0.201), rgba(50, 48, 48, 0.59)),
        url(../../img/image\ copy\ 16.png) center/cover no-repeat;
            button{
                margin-top: 50px;
                width: 30%;
            }
            h1{
                font-size: 40px;
            }
        }
        .card2{
                                background: linear-gradient(to right,rgba(255, 255, 255, 0.096), rgba(50, 48, 48, 0.59)),
        url(../../img/image\ copy\ 15.png) center/cover no-repeat;

        }

    }
}