.main-2 {
    .main-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        padding: 0px 100px;
        height: 50vh;
        margin-bottom: 100px;

        .card1,
        .card2 {
            line-height: 1.5;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            background: linear-gradient(to right, rgba(255, 255, 255, 0.201), rgba(50, 48, 48, 0.59)),
                url(../../img/image\ copy\ 16.png) center/cover no-repeat;
            transition: all 0.4s ease; // smooth hover
            cursor: pointer;

            button {
                margin-top: 50px;
                width: 30%;
                transition: all 0.3s ease;
            }

            h1 {
                font-size: 40px;
                transition: color 0.3s ease, text-shadow 0.3s ease;
            }

            // hover effect
            &:hover {
                transform: translateY(-10px) scale(1.03);
                background-size: 100%; // zoom in background
                box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);

                h1 {
                    color: $icon-color;
                    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
                }

                button {
                    background-color:transparent;
                    color: $icon-color;
                    transform: scale(1.05);
                }
            }
        }

        .card2 {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.096), rgba(50, 48, 48, 0.59)),
                url(../../img/image\ copy\ 15.png) center/cover no-repeat;
        }
    }
}
