.menu {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;

    .menu-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 20px 10px;
        border: 1px solid gray;
        box-shadow: 1px 1px 4px rgba(163, 155, 155, 0.311);
        transition: all 0.3s ease;   // smooth effect

        img {
            width: 150px;
            transition: transform 0.3s ease;
        }

        p {
            color: rgb(5, 79, 18);
        }

        // hover effect
        &:hover {
            transform: translateY(-8px) scale(1.03);
            box-shadow: 2px 6px 18px rgba(0, 0, 0, 0.2);

            img {
                transform: scale(1.1);
            }
        }

        #free {
            @include reduis;
            background-color: aquamarine;
        }
        #onl {
            @include reduis;
            background-color: rgba(208, 29, 71, 0.515);
        }
        #sav {
            padding: 5px;
            background-color: rgba(0, 128, 0, 0.296);
        }
        #pro {
            @include reduis;
            background-color: rgba(0, 128, 45, 0.63);
        }
        #hap {
            @include reduis;
            background-color: rgba(255, 255, 0, 0.274);
        }
        #f24 {
            @include reduis;
            background-color: rgba(255, 119, 0, 0.4);
        }
    }
}
@media(max-width:1023px){
    .menu {
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 30px;
  }
}
@media(max-width:767px){
    .menu{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        .menu-card{
            gap: 0px;
            p{
                font-size: small;
               
            }
            img {
            width: 100px;
        }
        }
    }


}