button{
    padding:10px 20px;
     background: transparent;
    border: 2px solid $main-color;
    color:$main-color;
    border-radius: 5px;


}
button:hover{
    background: $main-color;
    border: 2px solid $main-color;
    color:white;
}