.header{
    height: 70vh;
     background: linear-gradient(to right bottom,rgba(20, 18, 18, 0.842), rgba(39, 38, 38, 0.93)),
        url(../../img/image\ copy\ 33.png) center/cover no-repeat;
    @include center;
    color: white;
    flex-direction: column;
    line-height: 2;
    h1{
        font-size: 50px;
    }
}