.header{
    height: 60vh;
        background: linear-gradient(to right bottom,rgba(20, 18, 18, 0.842), rgba(39, 38, 38, 0.93)),
        url(../../img/image\ copy\ 34.png) center/cover no-repeat;
    flex-direction: column;
    @include center;
    line-height: 1.5;
    color: white;
    h1{
        font-size: 50px;
    }
}